footer {
    background-color: $color-light-gray;
    @include flex-container(column);
    & > .logo {
        width: 157px;
        min-width: 157px;
        margin: 45px 85px 48px;

        @include media-md {
            width: 121px;
            min-width: auto;
            margin: 1px 23px 48px;
        }
    }

    & > .content {
        @include flex-container(row, normal, space-between);
        gap: 148px;
        max-width: 1400px;

        @include media-lg {
            width: fit-content;
            display: block;
            
        }

        h5 {
            font-size: 30px;
            color: $color-gray;
            letter-spacing: 4.4px;

            @include media-md {
                font-size: 18px;
            }
        }

        li {
            @include media-md {
                font-size: 15px;
            }
        }

        & > .contact-info {
            margin-left: 42px;
            @include media-lg {
                margin: 0;
            }

            h5 {
                padding-bottom: 20px;
            }

            ul {
                padding-left: 5px;

            }

            li {
                padding-bottom: 20px;
                @include flex-container(row, center);
                font-size: 18px;
                font-weight: 600;


                a {
                    letter-spacing: 2.5px;
                    padding-left: 12px;
                }
            }
            & > .number {
                padding-bottom: 19px;

                @include media-md {
                    order: 2;
                }
            }

            .address {
                padding-left: 6px;

                @include media-lg {
                    padding: 0;
                    margin-bottom: 20px;
                }

                @include media-md {
                    order: 1;
                }
                p {
                    color: $color-black;
                    font-size: 18px;
                    letter-spacing: 2.7px;
                    line-height: 25px;

                    @include media-md {
                        font-size: 15px;
                    }
                }
            }
        }

        & > .information {
            margin-right: 32px;

            & > h5 {
                padding-bottom: 15px;
            }

            & > ul {
                font-size: 20px;
                line-height: 35px;
                color: $color-black;
                letter-spacing: 3px;
            }
            @include media-lg {
                margin-bottom: 20px;
            }
        }

        & > .proposition {
            width: 390px;

            .advertising {
                margin-left: 12px;
                @include media-lg {
                    margin: 0;
                }

                & > h5 {
                    padding-bottom: 18px;
                }

                & > ul {
                    font-size: 20px;
                    color: $color-black;
                    letter-spacing: 3px;
                    line-height: 31px;
                    padding-bottom: 95px;

                    @include media-md {
                        padding-bottom: 30px;
                    }
                }
            }

            
        }
        .promotion {
            @include flex-container(row, normal, flex-start);
            gap: 32px;
            @include media-lg {
                display: none;
    
            }

            &.mobile {
                display: none;
                @include media-lg {
                    display: flex;
                }
            }
        }
    }

    .copyright {
        padding: 47px 0px 47px 35px;

        @include media-lg {
            padding: 47px;
        }

        @include media-md {
            padding: 25px;
        }

        h6 {
            font-size: 20px;
            color: $color-black;
            letter-spacing: 2.9px;
            text-align: center;

            @include media-md {
                font-size: 15px;
            }
        }

    }
}
