footer {
    background-color: $color-light-gray;
    @include flex-container(column);
    & > .logo {
        width: 157px;
        min-width: 157px;
        margin: 45px 85px 48px;
    }

    & > .content {
        @include flex-container(row, normal, space-between);
        gap: 148px;
        max-width: 1400px;

        h5 {
            font-size: 30px;
            color: $color-gray;
            letter-spacing: 4.4px;
        }

        & > .contact-info {
            margin-left: 42px;

            h5 {
                padding-bottom: 20px;
            }

            ul {
                padding-left: 5px;
            }

            li {
                padding-bottom: 20px;
                @include flex-container(row, center);
                font-size: 18px;
                font-weight: 600;

                a {
                    letter-spacing: 2.5px;
                    padding-left: 12px;
                }
            }
            & > .number {
                padding-bottom: 19px;
            }
            .address {
                padding-left: 6px;
                p {
                    color: $color-black;
                    font-size: 18px;
                    letter-spacing: 2.7px;
                    line-height: 25px;
                }
            }
        }

        & > .information {
            margin-right: 32px;

            & > h5 {
                padding-bottom: 15px;
            }

            & > ul {
                font-size: 20px;
                line-height: 35px;
                color: $color-black;
                letter-spacing: 3px;
            }
        }

        & > .proposition {
            width: 390px;

            .advertising {
                margin-left: 12px;

                & > h5 {
                    padding-bottom: 18px;
                }

                & > ul {
                    font-size: 20px;
                    color: $color-black;
                    letter-spacing: 3px;
                    line-height: 31px;
                    padding-bottom: 95px;
                }
            }

            .promotion {
                @include flex-container(row, normal, flex-start);
                gap: 32px;
            }
        }
    }

    .copyright {
        padding: 47px 0px 47px 35px;

        h6 {
            font-size: 20px;
            color: $color-black;
            letter-spacing: 2.9px;
            text-align: center;
        }
    }
}
