.advertising {
    & > .content {
        padding: 120px 66px 105px;
        @include flex-container(row, flex-end, center);
        gap: 15.5px;
        background-color: $color-light-gray;
        max-width: 1440px;

        & > :nth-child(2) {
            padding-left: 19px;
        }

        & > :nth-child(3) {
            padding-right: 22px;
        }

        & > :nth-child(4) {
            padding-right: 21px;
        }
    }
}
