.article {
  font-family: "Roboto", sans-serif;
  color: $color-black;
  position: relative;
  padding-bottom: 100px;
  padding: 0 14px;

  & > h2 {
    @include flex-container(row, normal, center);
    font-size: 60px;
    margin-top: 104px;
    letter-spacing: 8.7px;

    @include media-lg {
      text-align: center;
    }

    @include media-md {
      font-size: 25px;
      letter-spacing: 3.8px;
      margin-top: 53px;
      margin-bottom: 13px;
      line-height: 28px;
      text-align: center;
      width: 300px;
      padding-left: 34px;
    }
  }

  .content {
    @include flex-container(row, normal, normal, normal, wrap);
    gap: 84px 40px;
    margin-top: 33px;

    @include media-md {
      flex-direction: column;
      gap: 39px;
    }

    .card {
      height: 294px;
      position: relative;
      padding-top: 93px;
      width: calc(100% / 2 - 20px);

      @include media-lg {
        text-align: center;
        height: auto;
        padding: 120px 20px 75px !important;
      }

      @include media-md {
        width: 100%;
        text-align: left;
        padding: 0 0 49px !important;
      }

      & > h2 {
        font-size: 30px;
        font-weight: 500;
        color: $color-gray;
        letter-spacing: 4.5px;
        line-height: 36px;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;

        @include media-md {
          font-size: 18px;
          line-height: 21px;
          letter-spacing: 2.7px;
          padding-left: 1px;
          position: relative;
          margin-bottom: 11px;
        }
      }

      & > p {
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 2.03px;
        line-height: 27.5px;
        padding-right: 26px;

        @include media-md {
          font-size: 15px;
          line-height: 20px;
          letter-spacing: 1.4px;
          padding: 0;
          // margin-left: -2px;
        }
      }

      & > .btn {
        padding: 11px 29px;
        position: absolute;
        bottom: 0;

        @include media-lg {
          white-space: nowrap;
          left: 50%;
          transform: translateX(-50%);
        }

        @include media-md {
          left: 0;
          transform: none;
          font-size: 15px;
          padding: 9px;
        }
      }
    }

    & > :nth-child(2) {
      padding-right: 20px;
      padding-left: 55px;

      h2 {
        left: 55px;

        @include media-lg {
          left: 0;
        }
        @include media-md {
          padding-top: 1px;
        }
      }
    }

    & > :nth-child(3) {
      padding-right: 75px;
      padding-top: 75px;

      h2 {
        top: -14px;

        @include media-lg {
          top: 0;
        }
      }

      p {
        @include media-md {
          letter-spacing: 1.45px;
          padding-left: 2px;
        }
      }
    }

    & > :nth-child(4) {
      padding-left: 55px;
      padding-top: 75px;

      h2 {
        padding-left: 55px;
        top: -14px;

        @include media-lg {
          padding-left: 0;
          top: 0;
        }
      }

      p {
        padding-right: 22px;

        @include media-md {
          letter-spacing: 1.5px;
          padding-left: 1px;
        }
      }
    }
  }
}

.line {
  max-width: 587px;
  position: absolute;
  left: -256px;
  bottom: 9px;

  @include media-md {
    left: 200px;
    transform: matrix(1, 0.09, -0.01, -0.8, 16, 0);
    bottom: -38px;
  }
}
