.head {
  background-image: url("../../../img/home/head_bg.png");
  background-color: rgba(255, 255, 255, 0.41);
  background-size: cover;
  background-blend-mode: color;
  padding: 334px 50px 186px 85px;
  font-family: "Roboto", sans-serif;
  @include flex-container(row, normal, space-between);
  flex-wrap: wrap;

  @include media-lg {
    padding-top: 230px;
  }

  @include media-md {
    padding:159px 73px 45px 25px;
    background: url("../../../img/head_bg_mobile.png");
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.41);
  }
  & > .content {
    @include flex-container(column);
     margin-top: 79px;

    @include media-md {
     margin-top: 6px; 
    }

    p {
      color: $color-gray;
      font-size: 20px;
      width: 300px;
      letter-spacing: 3px;
      padding-bottom: 22px;
      color: $color-gray;

      @include media-md {
        font-size: 18px;
      }
    }

    h1 {
      line-height: 72px;
      letter-spacing: 8.7px;
      font-size: 60px;
      max-width: 599px;
      width: 100%;
      height: 211px;
      color: $color-black;

      @include media-md {
        font-size: 25px;
        height: fit-content;
        line-height: 29px;
      }
    }

    .separete {
      border-top: 3px solid $color-green;
      border-bottom: 3px solid $color-green;
      height: 8px;
      margin-bottom: 22px;
      transform: skewX(73deg);
    }

    & > .line {
      letter-spacing: 4.5px;
      font-size: 30px;
      width: 520px;
      color: $color-gray;

      @include media-md {
        font-size: 18px;
        max-width: 520px;
        width: 100%;
      }
    }
    @include media-md {
      .btn {
      width: 225px;
      padding-left: 15px;
      padding-top: 10px;
      font-size: 15px;
      }
  }
  }

  .form-wrapper {
    width: 448px;
    height: 512px;
    background: $color-white;
    padding: 39px 58px 33px 48px;
    @include media-elg {
      margin: 50px auto 0;
    }

    @include media-md {
      display: none;
    }

    .title {
      font-size: 20px;
      letter-spacing: 3px;
      color: $color-gray;
      text-align: center;
      margin-bottom: 28px;
      padding-right: 7px;
    }
    & > .btn {
      letter-spacing: 3.6px;
      padding: 13px 30px;
      margin: 0 auto;
      display: block;
    }
  }
}
