.project {
    font-family: "Roboto", sans-serif;
    color: $color-black;
    padding: 0 16px;

    @include media-md {
        padding: 0 17px 0 11px;
    }
    & > h4 {
        @include flex-container(row, normal, center);
        font-size: 60px;
        // padding-top: 219px;
        letter-spacing: 8.7px;

        @include media-md {
            font-size: 25px;
            letter-spacing: 3.8px;
        }
    }

    .content {
        @include flex-container(row, normal, normal, normal, wrap);
        gap: 60px 59px;
        padding-top: 92px;
        @include media-lg {
            justify-content: center;
        }

        @include media-md {
            padding-top: 42px;
            gap: 20px;
        }

        .card {
            @include flex-container(column, center);
            border: 2px solid #4bb165;
            border-radius: 10px;
            max-width: 571px;
            @include media-lg {
                max-width: none;
            }

            & > h4 {
                font-size: 30px;
                font-weight: 500;
                color: $color-gray;
                padding-top: 30px;
                letter-spacing: 4.2px; 

                @include media-md {
                    font-size: 18px;
                    letter-spacing: 2.6px;
                    padding-right: 4px;
                    padding-top: 33px;
                }
            }

            & > p {
                font-size: 20px;
                font-weight: 400;
                text-align: center;
                padding: 31px 58px 51px;
                letter-spacing: 2px;
                line-height: 28.5px;

                @include media-md {
                    font-size: 15px;
                    text-align: left;
                    padding: 38px 12px 51px 15px;
                    letter-spacing: 1.41px;
                    line-height: 27.9px;
                }
             }   

            img {
                width: 380px;
                padding-top: 40px;

                @include media-md {
                    width: 285px;
                    margin-right: 4px;
                    padding-top: 25px;
                }
            }
        }
    }
    .btn {
        display: block;
        margin: 135px auto 62px;
        text-transform: uppercase;
        padding: 12px 31px;

        @include media-md {
            font-size: 15px;
            padding: 16px 30px;
            margin: 59px 64px 42px 70px;
            letter-spacing: 2.2px;
        }
    }
}
