.video-container {
    background-image: url(../../../img/separate-line.png);
    background-repeat: no-repeat;
    background-position: 1119px 187px;
    padding-bottom: 231px;

    @include media-lg {
        background-position: 467px 92%;
    }

    @include media-md {
        background-image: url(../../../img/line-mobile-version2.png);
        background-position: 164px 292px;
        padding-bottom: 220px;
    }
    
    .container {
        @include flex-container;
        gap: 71px;
        max-width: 1440px;

        @include media-lg {
            display: block;
        }
        
        
        & > .video {
            position: relative;
            top: 191px;
            width: 498px;
            margin-left: 68px;

            @include media-lg {
                display: none;
            }

            & > :nth-child(2) {
                position: absolute;
                bottom: 191px;
                left: 41px;
                width: 272px;
            }
        }

        & > .content {
            width: 737px;
            margin-top: 368px;

            @include media-lg {
                margin-top: 65px;
                text-align: center;
                width: auto;
            }

            @include media-md {
                margin-top: 36px;
            }

            p {
                font-size: 60px;
                color: $color-black;
                letter-spacing: 9.1px;
                line-height: 71px;

                @include media-lg {
                    letter-spacing: 9px;
                }

                @include media-md {
                    font-size: 25px;
                    letter-spacing: 3.8px;
                    line-height: 29px;
                }
            }

            & > .btn {
                margin-top: 100px;
                padding: 12px 33px;

                @include media-md {
                    margin-top: 46px;
                    font-size: 15px;
                    padding: 15px 32px 14px 20px;
                    letter-spacing: 2.1px;
                }
            }
        }
    }
}
