<div class="article bgc-container">
    <h2>ZVOLTE SI VLASTNÍ CESTU:</h2>
    <div class="content">
        <div class="card">
            <h2>KOMPLETNÍ SPRÁVA NEMOVITOSTI</h2>
            <p>Vaší nemovitost kompletně převezmeme. Postaráme se o prezentaci,
                správu rezervací, komunikací s hosty,
                úklidy, opravy i legislativu. Zkrátka o vše co je potřeba k tomu,
                aby nemovitost přinášlastabilní přijmy.
            </p>
            <button class="btn">MÁM ZÁJEM</button>
        </div>
        <div class="card">
            <h2>DLOUHODOBÝ PRONÁJEM</h2>
            <p>Staneme se vašim nájemcem klidně i na několik let.
                Platíme pravidelně a o objekty se pečlivě staráme. Vám
                zbývá jen přijímat měsíční rentu.
            </p>
            <button class="btn">MÁM ZÁJEM</button>
        </div>
        <div class="card">
            <h2>ODKUP NEMOVITOSTI</h2>
            <p>Vlastníte nemovitost v zajímavé lokalitě a hledáte kupce?
                Bude li to dávat smysl pro obě strany, vaši nemovitost rádi odkoupíme.
            </p>
            <button class="btn">MÁM ZÁJEM</button>
        </div>
        <div class="card">
            <h2>VÝPOMOC SE SLUŽBOU UBYTOVATELE</h2>
            <p>Bojujete s organizačními procesy? Pomůžeme vám se systematizací.
                Převezmeme správu rezervací, organizaci úklidů nebo pravidelných oprav.
                Používáme chytré programy, které vše velmi ulehčí a zpřehlední.
            </p>
            <button class="btn">MÁM ZÁJEM</button>
        </div>
    </div>
    <div class="line">
        <img src="../../img/separate-line.png" alt="line">
    </div>
</div>