<section class="head">
    <div class="content">
        <p>Czech Property Service - váš správce nemovitosti</p>
        <h1>NAUČÍME VAŠÍ NEMOVITOST VYDĚLÁVAT VÍCE</h1>
        <div class="separete"></div>
        <p class="second-p">POJĎME DOMLUVIT SCHŮZKU</p>
        <button class="btn">
           <pre>DOMLUVIT  SCHZKU</pre> 
          </button>
    </div>
    <form class="form-wrapper" method="post">
        <div class="title">
            Nezávazně se nám ozvěte
        </div>

        <div class="input-field">
            <label for="name" class="name">
                Jmeno*
            </label>
            <input type="text" name="name" required>
        </div>

        <div class="input-field">
            <label for="telephone" class="telephone">
                Telefonní číslo*
            </label>
            <input type="tel" name="telephone" required>
        </div>

        <div class="input-field">
            <label for="email" class="email">
                Email*
            </label>
            <input type="email" name="email" required>
        </div>

        <input class="btn" type="submit" value="DOMLUVIT SCHŮZKU">
    </form>

</section>