<div class="notes">
    <h5>REFERENCES</h5>
    <div class="content bgc-container">
        <div class="card">
            <img src="../../img/two_point.png" alt="img">
            <p>Lorem Ipsum je demonstrativní výplňový text používaný v tiskařském
                a knihařském průmyslu. Lorem Ipsum je považováno za standard v této
                oblasti už od začátku 16. </p>
            <h5>Lorem Ipsum</h5>
        </div>
        <div class="card">
            <img src="../../img/two_point.png" alt="img">
            <p>Lorem Ipsum je demonstrativní výplňový text používaný v tiskařském
                a knihařském průmyslu. Lorem Ipsum je považováno za standard v této
                oblasti už od začátku 16. </p>
            <h5>Lorem Ipsum</h5>
        </div>
    </div>
</div>