<div class="project bgc-container">
    <h4>NAŠE PROJEKTY</h4>
    <div class="content">
        <div class="card">
            <h4>Ubytovna Benešov</h4>
            <img src="../../img/modern-apartment-architecture.png" alt="apartment">
            <p>Lorem Ipsum je demonstrativní výplňový text používaný v tiskařském a knihařském průmyslu.
                Lorem Ipsum je považováno za standard v této oblasti už od začátku 16.
                století, kdy dnes neznámý tiskař vzal kusy textu a na jejich základě vytvořil speciální vzorovou knihu.
                Jeho odkaz nevydržel pouze pět století,</p>
        </div>
        <div class="card">
            <h4>Ubytovna Praha 5</h4>
            <img src="../../img/modern-apartment-architecture2.png" alt="apartment">
            <p>Lorem Ipsum je demonstrativní výplňový text používaný v tiskařském a knihařském průmyslu.
                Lorem Ipsum je považováno za standard v této oblasti už od začátku 16.
                století, kdy dnes neznámý tiskař vzal kusy textu a na jejich základě vytvořil speciální vzorovou knihu.
                Jeho odkaz nevydržel pouze pět století,</p>
        </div>
        <div class="card">
            <h4>Ubytovna okres Beroun</h4>
            <img src="../../img/modern-apartment-architecture3.png" alt="apartment">
            <p>Lorem Ipsum je demonstrativní výplňový text používaný v tiskařském a knihařském průmyslu.
                Lorem Ipsum je považováno za standard v této oblasti už od začátku 16.
                století, kdy dnes neznámý tiskař vzal kusy textu a na jejich základě vytvořil speciální vzorovou knihu.
                Jeho odkaz nevydržel pouze pět století,</p>
        </div>
        <div class="card">
            <h4>Ubytovna Neratovice</h4>
            <img src="../../img/modern-apartment-architecture4.png" alt="apartment">
            <p>Lorem Ipsum je demonstrativní výplňový text používaný v tiskařském a knihařském průmyslu.
                Lorem Ipsum je považováno za standard v této oblasti už od začátku 16.
                století, kdy dnes neznámý tiskař vzal kusy textu a na jejich základě vytvořil speciální vzorovou knihu.
                Jeho odkaz nevydržel pouze pět století,</p>
        </div>
    </div>
    <button class="btn">Více projektů</button>
</div>