//COLORS
$color-dark-blue: #000b58;
$color-medium-blue: #205d82;
$color-blue: #2f8bce;
$color-light-blue: #c3e1f1;

$color-green: #59bb68;

$color-red: #d30b0d;
$color-dark-red: #ab151e;

$color-white: #ffffff;

$color-light-gray: #f1f1f1;
$color-gray: #3D433F;
$color-medium-gray: #C4C4C4;

$color-black: #000000;

$border-color: $color-medium-gray;


$cards-box-shadow: 0 20px 40px #0e141a29;

$shadow-color: #0e141a29;

$text-color: $color-dark-blue;

$border-radius:3px solid #4BB165;

$menu-animation-duration: 0.3s;
